/* grid boxes */
.item {
  margin: 0.6rem auto !important;
}

/* date picker */
.date-wrapper {
  margin: 0.4rem auto !important;
}

/* dropdown input field */
.select {
  width: 30%;
}

/* alert boxes for empty input fields */
.alert-title {
  width: 20%;
}